<form class="form-inline mr-center" asp-controller="Search" asp-action="Index" method="get">
    <input class="form-control mr-sm-1" type="text" name="searchString" size="35" placeholder="Search..." aria-label="Search">
    <button class="btn btn-warning btn-rounded btn-lg my-0 fa fa-search" type="submit"></button>
</form>
