@model ComputerPartsCatalog.Web.ViewModels.Products.EditProductInputModel
@{
    ViewData["Title"] = "Edit Product";
    var categories = this.Model.Categories.Select(x => new SelectListItem(x.Value, x.Key));
}

<h1 class="text-white text-center">@ViewData["Title"]</h1>

<form method="post" class="col-md-6 offset-md-3" id="editForm">
    <div class="form-group">
        <label class="text-white" asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="text-white" asp-for="Brand"></label>
        <input asp-for="Brand" class="form-control" />
        <span asp-validation-for="Brand" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="text-white" asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="text-white" asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="text-white" asp-for="CategoryId"></label>
        <select asp-for="CategoryId" class="custom-select" asp-items="categories">
            <option selected>Please select an option</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <hr />
    <input type="hidden" asp-for="Id" />
</form>
<div class="text-center">
    <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#modalEdit">Save changes</button>
</div>
<!-- Modal -->
<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you want to save current changes?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-primary" onclick="editForm.submit()">Save changes</button>
            </div>
        </div>
    </div>
</div>