@model ComputerPartsCatalog.Web.ViewModels.Categories.CategoryViewModel

<div class="text-center row">
    <div class="col-md-4">
        @await Component.InvokeAsync("CategoryList");
    </div>
    <div class="col-md-8">
        <div class="row">
            @foreach (var product in this.Model.Products)
            {
                <div class="card text-center col-md-4">
                    <div class="card-header">
                        <img class="card-img w-50" src="@product.ImageUrl" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title mt-2">@product.Name</h5>
                        <hr />
                        <h6 class="card-title mt-2">Price:@product.Price$</h6>
                    </div>
                    <hr />
                    <div class="card-footer">
                        <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" class="btn btn-warning">Details</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
