@using ComputerPartsCatalog.Common
@model ComputerPartsCatalog.Web.ViewModels.Home.IndexPageViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center row">
    <h1 class="display-4 text-white">Welc3me to <span class="text-warning">@GlobalConstants.SystemName</span>!</h1>
    <div class="col-md-4">
        <hr />
        <vc:category-list />
    </div>
    <div class="col-md-8">
        <hr />
        <div class="row">
            @foreach (var product in this.Model.Products)
            {
                <div class="card text-center col-md-4">
                    <div class="card-header">
                        <img class="card-img w-50" src="@product.ImageUrl" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title mt-2">@product.Name</h5>
                        <hr />
                        <h6 class="card-title mt-2">Price:@product.Price$</h6>
                    </div>
                    <hr />
                    <div class="card-footer">
                        <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" class="btn btn-warning">Details</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<hr />
